__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/
.idea/

# Ignore backups
*.bak

# Ignore local extraction log
extraction.log
preparation.log

# Ignore local HTML cache directory
.cache/

# Ignore local databases and user login sessions
data/*.db
data/.session.json
